<% content_for :page_title do %>
  <h2>All Recipes</h2>
<% end %>

<%= render 'shared/list_of_links_with_images', { objects: @recipes } %>

<% if session[:user_id] %>
  <%= link_to "Add Recipe", new_recipe_path, class: "btn btn-default" %>
<% end %>
