<h1><center>Salad recipes</h1>
  <div class="table">
    <% @recipes.each do |recipe| %>
    <tr>
        <dt><h2><%= recipe.name %></h2></dt>
    </tr>
    <tr>
      <td><blockquote><%= recipe.description %></blockquote></td>
      <td><%= image_tag recipe.image_url, class: "img-circle", size: '550x500' %></td>
    </dl>
      <% end %>
  </div>
