<h3 class="text-center">Recipes</h3>
<% if session[:user_id] %>
  <div class="text-center">
    <%= link_to "Add a New Recipe", new_recipe_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render partial: "shared/recipes" %>
