<h1>
  All Recipes
  <% if session[:user_id] %>
    <small>+<%= link_to "Add New Recipe", new_user_recipe_path(@user.id) %></small>
  <% end %>
</h1>

<div class="columns">
  <%= render partial: 'shared/recipes_list', locals: { recipes: @recipes } %>
</div>
