<h3>All Recipes</h3>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="recipe_tiles col-md-3">
      <%= link_to(image_tag(recipe.image_url(:thumb)), recipe_path(recipe.id)) %>
      <h4><%= recipe.name %></h4>
    </div>
  <% end %>
</div>
