<h1>All recipes</h1>

<p><%= link_to "New recipe", new_recipe_path, class:"btn btn-success" %></p>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <p><%= link_to recipe.name, recipe_path(recipe) %></p>
        <p><%= image_tag("", class: "img-rounded") %></p>
      </div>
    </div>
  <% end %>
</div>
