<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Make history with a new concoction!</h3>
      </div>

      <div class="panel-body">
        <%= render "recipe_form" %>
      </div>
    </div>
  </div>
</div>
