<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <span class="back-link"><%= link_to "Return to Previous Page", :back %></span>
    <h1>Create a recipe</h1>
    <%= render partial: "shared/recipe_form", locals: {recipe: @recipe, url: @url, method: @method} %>
  </div>
</div>
