<h1>Add a New Recipe</h1><%= link_to "Skip creating new recipe right now", ingredients_path, class: "btn btn-primary" %>
<%= render partial: 'recipe_form', locals: {title: "Add a New Recipe", button: "Create New Recipe" } %>
