<h2>WELCOME <%= @username.upcase %>!</h2>

<%= link_to "Your Cookbooks", cookbooks_path, class: "btn btn-primary" %>
<%= link_to "Your Recipes", recipes_path, class: "btn btn-primary" %>
<%= link_to "Your Ingredients", ingredients_path, class: "btn btn-primary" %>
