<%= render 'dashboard_nav' %>

<h3>My Recipes</h3>

<p>
  <%= link_to 'New recipe', new_recipe_path, class: "btn btn-default", role: "button" %>
</p>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item">
      <%= link_to recipe.name, recipe %>
    </li>
  <% end %>
</ul>



    