<div class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li role="presentation" class="active">
        <%= link_to 'Recipes', my_recipes_path %>
      </li>
      <li role="presentation">
        <%= link_to 'Cookbooks', my_cookbooks_path %>
      </li>
      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Ingredients', my_ingredients_path %></li>
          <!-- make a link to user profile -->
          <li>Profile</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<h3>My Recipes</h3>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item">
      <%= link_to recipe.name, recipe %>
    </li>
  <% end %>
</ul>



    