<h1>
  <%= link_to @user.username, user_path(@user) %>
  <small>Member since: <%= format_date(@user.created_at) %></small>
</h1>

<h2>User Contributions</h2>

<div class="col-sm-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recipes</h3>
    </div>

    <div class="panel-body">
      <% if @user.has_recipes? %>
        <%= render partial: 'shared/recipes_list', locals: { recipes: @user.recipes.alphabetized } %>
      <% else %>
        <p>This user hasn't submitted any recipes yet.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ingredients</h3>
    </div>

    <div class="panel-body">
      <% if @user.has_ingredients? %>
        <%= render partial: 'shared/ingredients_list', locals: { ingredients: @user.ingredients.alphabetized } %>
      <% else %>
        <p>This user hasn't submitted any ingredients yet.</p>
      <% end %>
    </div>
  </div>
</div>
