<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.username %></h3>
  </div>

  <div class="panel-body">
    <p>member since: <%= readable_date(@user.created_at) %></p>

    <p><%= @user.username %>'s recipes:</p>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %></li>
      <% end %>
    </ul>
  </div>
</div>
