<h1><%= @user.username %> has <%= @user.recipes.count %> Recipes </h1>

<ul>
    <% @user.recipes.each do |recipe| %>
    <li> <%= link_to "#{recipe.name}", recipe_path(recipe.id) %> </li>
    <% end %>
</ul>
