<div class="container marketing">
  <footer>
    <% if session[:user_id] %>
      <p class="pull-right"><%= link_to "Back to your cookbooks", user_path(session[:user_id]) %></p>
    <% end %>
    <p>&copy; <%= Time.now.year %> Rabbit hole Inc </p>
  </footer>
</div>
