<footer class="footer">
  <div class="container">
    <p class="text-muted">copyright &copy; WangWalentin <%= Time.now.year %>
    <a href="#top">Top</a></p>
    <%= link_to "Home", root_path %>
  </div>
</footer>
