<div class="page-header">
  <h1>
    Cream &amp; Ice
    <small>Your source for all things sweet and frozen</small>
  </h1>


  <% if User.find_by(id: session[:user_id]) %>
    <%= link_to 'Sign out', signout_path, method: :delete, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'Register', register_path, class: 'btn btn-default' %>
    <%= link_to 'Sign in', signin_path, class: 'btn btn-primary' %>
  <% end %>


  <p>
    Welcome, <%= session[:user_id] ? User.find(session[:user_id]).username : "guest" %>
  </p>
</div>
