<ul class="list-group">
  <% ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <%= link_to ingredient.proper_name, ingredient_path(ingredient) %>
      <span class="badge"><%= ingredient_recipes_count(ingredient) %></span>
      <% if @authenticated_user && ingredient.user_id == @authenticated_user.id %>
        <%= link_to "Edit", edit_user_ingredient_path(@authenticated_user, ingredient),
            class: "btn btn-info btn-xs" %>
        <%= link_to "Delete", user_ingredient_path(@authenticated_user, ingredient),
            method: "delete", class: "btn btn-warning btn-xs" %>
      <% end %>
    </li>
  <% end %>
</ul>
