<ul class="list-unstyled">
  <% recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image_url(:thumb), class: "img-rounded" %>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>
