<ul class="list-group">
  <% ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <% if ingredient.avatar %>
        <%= image_tag ingredient.avatar_url(:thumb) %>
      <% end %>
      <%= link_to ingredient.proper_name, ingredient_path(ingredient) %>
    </li>
  <% end %>
</ul>
