<ul class="list-group">
  <% ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <%= link_to ingredient.proper_name, ingredient_path(ingredient) %>
      <%= link_to "Remove", ingredient_path(ingredient), class: "btn btn-warning btn-xs" %>
    </li>
  <% end %>
  <li class="list-group-item">
    +<%= link_to "Add Ingredient", root_path %>
  </li>
</ul>
