<ul class="list-group">
  <% ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <% if ingredient.avatar %>
        <%= image_tag ingredient.avatar_url(:thumb) %>
      <% end %>
      <%= link_to ingredient.proper_name, ingredient_path(ingredient) %>
      <%= link_to "Remove", user_recipe_ingredient_path(session[:user_id], @recipe, ingredient), method: :delete,
      class: "btn btn-warning btn-xs", data: { confirm: "Are you sure you want to remove this from your recipe?" } %>
    </li>
  <% end %>
  <li class="list-group-item">
    +<%= link_to "Add Ingredients", user_recipe_ingredients_path(@authenticated_user, @recipe) %>
  </li>
</ul>
