<h1><center>Ingredients</h1>
<div class="row">
  <% @ingredients.each do |ingredient| %>
    <div class="col-lg-3">
      <h3><%= ingredient.name.capitalize %></h3>
      <%= link_to ingredient_path(ingredient.id) do %>
        <%= image_tag ingredient.image_url, class: "img-circle", size: '200x200'  %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
