<h1>
  All Ingredients
  <% if session[:user_id] %>
    <small>+<%= link_to "Add New Ingredient", new_user_ingredient_path(@authenticated_user) %></small>
  <% end %>
</h1>

<div class="col-sm-8 col-sm-offset-2">
  <%= render partial: 'shared/ingredients_list', locals: { ingredients: @ingredients } %>
</div>
