<div class="row">
  <div class="col-md-4 col-md-offset-1">
  <h2> All Ingredients </h2>
    <% unless session[:user_id].nil? %>
      <%= link_to "Add a New Ingredient", new_ingredient_path %>
    <% end %>
    <% @ingredients.each do |ingredient| %>
      <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h4><%= link_to ingredient.name.titlecase, ingredient_path(ingredient) %></h4>
      </div>
      </div>
    <% end %>
  </div>
</div>
