<h1> Ingredients </h1>
  <ul>
<% @ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name.capitalize!, ingredient_path(ingredient), method: :get %></li>
<% end %>
</ul>
<%= button_to "Add a New Ingredient", new_ingredient_path, method: :get, class: "btn btn-primary" %>
