<h1> Ingredients </h1>
<% alphabet = %w("A".."Z") %>
<% @ingredients.each do |ingredient| %>
  <% alphabet.each do |letter| %>
    <% if ingredient.name.first.upcase == letter %>
      <strong><%= letter %></strong>
      <%= link_to ingredient.name, ingredient_path(ingredient), method: :get %>
    <% else %>
      <strong><%= letter %></strong>
    <% end %>
  <% end %>
<% end %>
<%= link_to "Add a New Ingredient", new_ingredient_path, method: :get %>
