<div class="container">

  <h1> All the Ingredients!</h1>
  <ol>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.image %><%= ingredient.name %>
    <% end %>
      </li>
  </ol>

</div>
