<h4>Do you have all the ingredients for your recipe in the pantry?</h4>

<ul><% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name.capitalize %></li>
    <% end %>
</ul>

<%= button_to "Continue to Add Recipe", new_recipe_path, method: :get, class: "btn btn-primary" %>
<%= button_to "Add More Ingredients", new_ingredient_path, method: :get, class: "btn btn-default" %>
