<h1>Add an Ingredient</h1>
<%= render partial: 'shared/error_messages', locals: { any_errors: @ingredient.errors.any?,
                                                       count_errors: @ingredient.errors.count,
                                                       messages: @ingredient.errors.full_messages } 
%>
  <%= render partial: "shared/ingredient_form", locals: {ingredient: @ingredient, url: @url, method: @method} %>
