<h1>search results</h1>

<% if flash.now[:error] %>
  <p class="alert alert-info"><%= flash.now[:error] %></p>
<% end %>

    <% @recipes.each do |recipe| %>
      <div class = "col-sm-4">
        <%= image_tag recipe.image_url, class: "img-board"  %>
        <h5 class= "txt-center"><%= link_to "#{recipe.name}", recipe_path(recipe.id)  %></h5>
      </div>
    <% end %>
