<div class="container">
  <h1> <%= @ingredient.name %> Details </h1>
  <table class="table">
    <tr>
        <td></td>
        <td>Name</td>
        <td>Recipes</td>
    </tr>
    <tr>
      <td class="thumbnails"><%= image_tag(@ingredient.image_url(:medium))%> </td>
      <td> <%= @ingredient.name %></td>
      <td><% @ingredient.recipes.each do |recipe| %>
        <%= link_to "#{recipe.name}", recipe_path(recipe.id) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
