<div class="jumbotron">
  <div class="container">
    <h1> <%= image_tag("recipesforall.jpg", class: "img-responsive") %> Recipes for All: <h1>
    <p class="shift-text"> For the People, by the People </p>
  </div>
</div>

<%= render partial: "shared/recipes", locals: { recipes: @recipes }  %>
