<div class="jumbotron">
  <div class="container">
    <h1> Recipes for All: <h1>
    <p> For the People, by the People </p>
  </div>
</div>

<%= render partial: "shared/recipes", locals: { recipes: @recipes }  %>
