<div class="jumbotron">
  <div class="container">
    <h1>Hambre</h1>
    <p>¿Tienes Hambre? Satisfy your cravings with our mouth-watering recipes.</p>
    <%= form_tag({controller:'ingredients', action: 'search'}, method: :get) do %>
    <%= text_field_tag :search, params[:search], id: 'search_field', placeholder: "Search by Ingredient" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>
