<li class="list-group-item">
  <%= link_to recipe.name, recipe_path(recipe) %>
  <%= link_to 'Remove', remove_recipe_path(@cookbook, recipe), method: :delete, class: "btn btn-danger",
    role: "button" %>
</li>
