<h3 class="text-center"><i class="fa fa-book"></i> Cookbooks
  <% if session[:user_id] %>
    <small><%= link_to new_user_cookbook_path(session[:user_id]) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" title="Create a Cookbook!"></span>
      <% end %>
    </small>
  <% end %>
</h3>
<%= render partial: "shared/cookbooks" %>

<a href="#top">Back to Top</a>
