<h2>Your Cookbooks</h2>

<% if @cookbooks.nil? %>
  <p>You have no cookbooks. :(</p>
<% else %>
  <ul>
    <% @cookbooks.each do |cookbook| %>
      <li>
        <%= link_to cookbook.name, cookbook_path(cookbook) %>
        <%= link_to "EDIT", edit_cookbook_path(cookbook), class: "btn btn-warning" %>
        <%= link_to "DELETE", cookbook_path(cookbook), { method: "delete", class: "btn btn-danger" } %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "ADD", new_cookbook_path, class: "btn btn-primary" %>
