<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Create a cookbook</h3>
      </div>

      <div class="panel-body">
        <%= render partial: 'form', locals: { method_name: :post } %>
      </div>
    </div>
  </div>
</div>
