<h4>Recipes from #{@cookbook.name}</h4>
 

  <% @recipes.each do |recipe| %>
      <tr>
        <td><%= image_tag(@recipe.image.thumb) %></td>
        <td><%= link_to recipe.name, user_cookbook_recipe_path(recipe.id) %></td>
        <td><%= link_to "Edit", edit_user_cookbook_recipe_path(user.cookbook_id, recipe.id), class: "btn btn-default" %></td>
        <td><%= link_to "X", user_cookbook_recipe_path(user.cookbook_id, recipe.id), method: :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
 