<h1> <%= @cookbook.name %> </h1>
<%= link_to "Edit", class: "btn btn-default" %>

<h3>Recipes</h3>

<table class="table">
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe_path(recipe) %></td>
      <td><%= link_to "Remove recipe", user_cookbook_recipe_path(session[:user_id], @cookbook, recipe), method: "delete", class: "btn btn-default" %></td>
    </tr>
  <% end %>
</table>
