/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// pushes down pages to not get hidden under the navbar
.page {
   margin-top: 60px;
   margin-bottom: 20px;
 }

.jumbotron {
  margin-top: -20px;
}

.navbar-right {
  margin-right: 10px;
}

.center-link-buttons {
  text-align: center;
  margin-top: 10px;
}

.thumbnail {
  height: 600px;
}
 // makes the thumbnail class on the show page not huge
.solo-view {
  height: 410px;
}

// hammer and sickle styling
.logo-image {
  height: 55px;
  display: inline-block;
}

// make the header subtext be under the header, not the image
.shift-text {
  margin-left: 74px;
}

 // adding padding to the top of form buttons to not squish against the text fields
.page input[type="submit"]  {
  margin-top: 10px;
}
