/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


html {
  background-image: url("gross_pattern.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
 }

body {
  max-width: 970px;
  margin: auto;
  padding: 30px 20px 30px 20px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
}


#main-container {
  min-height: 100vh;
}

.navbar-default {
  background: #74da12;
}

.navbar-text {
  padding: 0 10px 0 5px;
}

.navbar-text p {
  font-weight: bolder;
  color: #0C140F;
}

.navbar-text a {
  color: #0C140F;
}

.navbar-text a:hover {
  color: #6712da;
  text-decoration: none;
}

.navbar-brand span {
  color: #0C140F;
}

.navbar-brand span:hover {
  color: #6712DA;
}

.content {
  margin: 0 20px 0 20px;
}

.form-control {
  max-width: 250px;
}

.fit-width {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.search {
  margin: 0 20px 0 20px;
}

.inline-form {
  display: inline-block;
}

.field_with_errors {
  display: block;
}

.label {
  font-size: 100%;
  padding: 4px 10px;
  vertical-align: middle;
}

.form-label {
  display: block;
}
