/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

/* UNIVERSAL */
h1, h2, h3, h4, h5, .brand {
  // font-family: 'Slabo 27px', serif;
  font-family: 'Playfair Display', dispaly, serif;
  font-weight: 900;
}

// th {
//   font-family: 'lato';
//   font-size: 1.25em;
// }
//
// a {
//   font-family: 'lato';
//   font-size: 1.25em;
// }

.no-float {
 float: none;
}

/* FORMS */
label {
  // font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

 /* NAVBAR */
 .brand {
   font-size: 28px;
 }
 .logout, .login {
 	margin-top: 6px;
  margin-left: 20px;
  margin-right: 10px;
 }

.nav-user-link {
  position: relative;
  top: 15px;
}

.nav-search {
  margin-top: -4px;
  margin-left: 20px;
  position: relative;
  top: 11px;
}

.btn-nav-search {
  position: absolute;
  top: 0;
  right: -76px;
}
/* OTHER STUFF? */

.img-sm {
  width: 50px;
  height: 50px;
}

.img-md {
  width: 175px;
  height: 175px;
}

.txt-center {
  text-align: center;
}

.img-center {
  display: block;
  margin: auto;
}

.center-btn {
  margin: auto;
  display: block;
}
.img-board {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: block;
  margin: auto;
}

.col-sm-4{
  margin-bottom: 20px;
}
