/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 // this is a green world
.navbar {
  background: #080;
}

.jumbotron {
  background-image: url("cooking-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.jumbotron h1 span, .jumbotron p span{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 2px 10px;

}

.jumbotron p {
  font-size: 18px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav-pills a:hover, .nav-pills a:active, li.dropdown.open a:active, li.dropdown.open a:focus {
    background-color: #080; // dark green
    color: #cfc; // light green
}

// greeeeeeeen greeen green green
.nav > li > a {
  background-color: #fff;
  color: #353;
  margin: 3px;
  padding: 3px 10px;
}


.jumbotron .nav > li > a, footer .nav > li > a {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}

.inline-form {
  width: auto;
}

.columns {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   ul {
     margin: 0;
   }
 }

footer {
  margin-top: 30px;
}
