@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Reenie+Beanie|Unica+One);

/* colors ---------------------------------------------------- */

$error: #F00;
$gray-medium-light: #EAEAEA;

/* universal */

.content {
  padding-top: 35px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography ------------------------------------------------- */

h1 {
  font-family: 'Unica One', cursive;
}

/* navigation ------------------------------------------------- */

.navbar-brand { 
  font-family: 'Unica One', cursive;
  font-size: 2em;
}

.navbar-right {
 margin-right: 15px;
}

.btn-info {
  margin-right: 10px;
}

/* homepage --------------------------------------------------- */

.jumbotron {
  width: 100%;
  height: 575px;
  margin-top: -48px;
  background: image-url("jumbo.jpg") no-repeat center left;
  background-size: cover;
  border-bottom: 3px solid $gray-light;
}

.jumbotron h1 {
  color: #FFF;
  font-family: 'Unica One', cursive;
  font-size: 10em;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000;
}

.jumbotron p {
  color: #FFF;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.7em;
}

.search {
  padding-top: 25px;
}

/* user profile ----------------------------------------------- */

aside {
  
}

/* footer ----------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top by nav height */
  margin-top: 63px;

  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.container .text-muted {
  font-size: 0.85em;
  margin: 16px 0;
  text-align: center;
}

/* forms ------------------------------------------------------ */

.errors {
  color: $error;
}

label.required:after {
    content: " *";
    color: $error;
}
